.border-bottom {
    border-bottom: 1px solid #ffffff14;
}

.dark {
    background-color: rgba(0, 0, 0, 0);
}

.header {
    z-index: 999;
    backdrop-filter: blur(10px);
    width: 100%;
    top: 0 !important;
}

body::-webkit-scrollbar {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(red, blue, green, yellow)
}

.zoom-img-icon {
    transition: transform 0.2s;
}

.zoom-img-icon:hover {
    transform: scale(1.2);
}